@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* New Code */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.links{
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  gap: 10px;
}

body a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

/* Middle */

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.buttons button{
  font-size: 16px;
  padding: 10px 16px;
}

/* Lower */
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.3);
}