body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* New Code */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  /* New Code */
  padding:8px;
  font-size:16px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  /* New Code */
  font-size: 15px;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  /* New Code */
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  /* New Code */
  display:block;
  margin: 0 auto;
  padding: 8px 24px;
}